<mat-drawer-container [autosize]="true" class="min-h-full mx-auto border-x">
  <mat-drawer-content class="p-6">
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
      (itemsSortChange)="onItemsSortChange($event)"
    >
    </app-products-header>
    <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    <mat-grid-list gutterSize="16" [cols]="plpColumns" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products">
        <app-product-tile
          [product]="product"
          (addToCartEvent)="onAddToCart($event)"
          class="w-full"
          [fullWidthMode]="plpColumns === 1"
        ></app-product-tile>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>
